# Hausaufgabe 2 (HA2): Clustering
Datenquelle: https://www.kaggle.com/datasets/ankitverma2010/ecommerce-customer-churn-analysis-and-prediction

Verwenden Sie die in der Vorlesung vorgestellten Methoden des unüberwachten Lernens, um die Daten sinnvoll zu segmentieren. Welche Erkenntnisse leiten Sie ab?

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Übersicht über den Datensatz

In [3]:
# Load data
df = pd.read_csv('my_dataset.csv')
df.head()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,Gender,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,...,OrderCat_Mobile Device,OrderCat_Others,PaymentMode_Cash on Delivery,PaymentMode_Credit Card,PaymentMode_Debit Card,PaymentMode_E wallet,PaymentMode_UPI,MartialStatus_Divorced,MartialStatus_Married,MartialStatus_Single
0,1,4.0,0,3,6.0,1,3.0,3,2,9,...,False,False,False,False,True,False,False,False,False,True
1,1,9.0,0,1,8.0,0,3.0,4,3,7,...,True,False,False,False,False,False,True,False,False,True
2,1,9.0,0,1,30.0,0,2.0,4,3,6,...,True,False,False,False,True,False,False,False,False,True
3,1,0.0,0,3,15.0,0,2.0,4,5,8,...,False,False,False,False,True,False,False,False,False,True
4,1,0.0,0,1,12.0,0,3.0,3,5,3,...,True,False,False,True,False,False,False,False,False,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Churn                         5630 non-null   int64
 1   Tenure                        5630 non-null   float64
 2   PreferredLoginDevice          5630 non-null   int64
 3   CityTier                      5630 non-null   int64
 4   WarehouseToHome               5630 non-null   float64
 5   Gender                        5630 non-null   int64
 6   HourSpendOnApp                5630 non-null   float64
 7   NumberOfDeviceRegistered      5630 non-null   int64
 8   SatisfactionScore             5630 non-null   int64
 9   NumberOfAddress               5630 non-null   int64
 10  Complain                      5630 non-null   int64
 11  OrderAmountHikeFromlastYear   5630 non-null   float64
 12  CouponUsed                    5630 non-null   float64
 13  OrderCount                    5630 non-null   float64
 14  DaySinceLastOrder             5630 non-null   float64
 15  CashbackAmount                5630 non-null   float64
 16  OrderCat_Fashion              5630 non-null   bool
 17  OrderCat_Grocery              5630 non-null   bool
 18  OrderCat_Laptop & Accessory   5630 non-null   bool
 19  OrderCat_Mobile Device        5630 non-null   bool
 20  OrderCat_Others               5630 non-null   bool
 21  PaymentMode_Cash on Delivery  5630 non-null   bool
 22  PaymentMode_Credit Card       5630 non-null   bool
 23  PaymentMode_Debit Card        5630 non-null   bool
 24  PaymentMode_E wallet          5630 non-null   bool
 25  PaymentMode_UPI               5630 non-null   bool
 26  MartialStatus_Divorced        5630 non-null   bool
 27  MartialStatus_Married         5630 non-null   bool
 28  MartialStatus_Single          5630 non-null   bool
dtypes: bool(13), float64(8), int64(8)
memory usage: 775.4 KB

In [5]:
df.describe()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,Gender,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000
mean,0.168384,10.118117,0.290231,1.654707,15.534813,0.398934,2.934636,3.688988,3.066785,4.207993,0.284902,15.671670,1.716874,2.961812,4.429130,177.223030
std,0.374240,8.291334,0.453909,0.915389,8.089328,0.489723,0.703826,1.023999,1.380194,2.555111,0.451408,3.582823,1.857640,2.879248,3.439184,49.207036
min,0.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.500000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,3.000000,0.000000,1.000000,9.000000,0.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,0.000000,9.000000,0.000000,1.000000,14.000000,0.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,0.000000,15.000000,1.000000,3.000000,20.000000,1.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,1.000000,33.000000,1.000000,3.000000,36.500000,1.000000,4.500000,6.000000,5.000000,12.000000,1.000000,25.500000,16.000000,16.000000,14.500000,324.990000