# Hausaufgabe 2 (HA2): Clustering
Datenquelle: https://www.kaggle.com/datasets/ankitverma2010/ecommerce-customer-churn-analysis-and-prediction

Verwenden Sie die in der Vorlesung vorgestellten Methoden des unüberwachten Lernens, um die Daten sinnvoll zu segmentieren. Welche Erkenntnisse leiten Sie ab?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Übersicht über den Datensatz

In [2]:
# Load data
df = pd.read_csv('my_dataset.csv')
df.head()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,...,OrderCat_Mobile Device,OrderCat_Others,PaymentMode_Cash on Delivery,PaymentMode_Credit Card,PaymentMode_Debit Card,PaymentMode_E wallet,PaymentMode_UPI,MartialStatus_Divorced,MartialStatus_Married,MartialStatus_Single
0,1,4,0,3,6.0,Debit Card,1,3.0,3,Laptop & Accessory,...,False,False,False,False,True,False,False,False,False,True
1,1,9,0,1,8.0,UPI,0,3.0,4,Mobile Device,...,True,False,False,False,False,False,True,False,False,True
2,1,9,0,1,30.0,Debit Card,0,2.0,4,Mobile Device,...,True,False,False,False,True,False,False,False,False,True
3,1,0,0,3,15.0,Debit Card,0,2.0,4,Laptop & Accessory,...,False,False,False,False,True,False,False,False,False,True
4,1,0,0,1,12.0,Credit Card,0,3.0,3,Mobile Device,...,True,False,False,True,False,False,False,False,False,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Churn                         5630 non-null   int64
 1   Tenure                        5630 non-null   int64
 2   PreferredLoginDevice          5630 non-null   int64
 3   CityTier                      5630 non-null   int64
 4   WarehouseToHome               5630 non-null   float64
 5   PreferredPaymentMode          5630 non-null   object
 6   Gender                        5630 non-null   int64
 7   HourSpendOnApp                5630 non-null   float64
 8   NumberOfDeviceRegistered      5630 non-null   int64
 9   PreferedOrderCat              5630 non-null   object
 10  SatisfactionScore             5630 non-null   int64
 11  MaritalStatus                 5630 non-null   object
 12  NumberOfAddress               5630 non-null   int64
 13  Complain                      5630 non-null   int64
 14  OrderAmountHikeFromlastYear   5630 non-null   float64
 15  CouponUsed                    5630 non-null   float64
 16  OrderCount                    5630 non-null   float64
 17  DaySinceLastOrder             5630 non-null   float64
 18  CashbackAmount                5630 non-null   float64
 19  OrderCat_Fashion              5630 non-null   bool
 20  OrderCat_Grocery              5630 non-null   bool
 21  OrderCat_Laptop & Accessory   5630 non-null   bool
 22  OrderCat_Mobile Device        5630 non-null   bool
 23  OrderCat_Others               5630 non-null   bool
 24  PaymentMode_Cash on Delivery  5630 non-null   bool
 25  PaymentMode_Credit Card       5630 non-null   bool
 26  PaymentMode_Debit Card        5630 non-null   bool
 27  PaymentMode_E wallet          5630 non-null   bool
 28  PaymentMode_UPI               5630 non-null   bool
 29  MartialStatus_Divorced        5630 non-null   bool
 30  MartialStatus_Married         5630 non-null   bool
 31  MartialStatus_Single          5630 non-null   bool
dtypes: bool(13), float64(7), int64(9), object(3)
memory usage: 907.3+ KB

In [5]:
df.describe()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,Gender,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000
mean,0.168384,10.134103,0.290231,1.654707,15.566785,0.398934,2.934636,3.688988,3.066785,4.214032,0.284902,15.674600,1.716874,2.961812,4.459325,177.223030
std,0.374240,8.357951,0.453909,0.915389,8.345961,0.489723,0.705528,1.023999,1.380194,2.583586,0.451408,3.591058,1.857640,2.879248,3.570626,49.207036
min,0.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,3.000000,0.000000,1.000000,9.000000,0.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,0.000000,9.000000,0.000000,1.000000,14.000000,0.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,0.000000,15.000000,1.000000,3.000000,20.000000,1.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,1.000000,61.000000,1.000000,3.000000,127.000000,1.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,324.990000

In [19]:
# Ausreißer suchen

for column in df:
   print(f"{column} \n {df[column].describe()}\n\n")

Churn
 count    5630.000000
mean        0.168384
std         0.374240
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Churn, dtype: float64


Tenure
 count    5630.000000
mean       10.134103
std         8.357951
min         0.000000
25%         3.000000
50%         9.000000
75%        15.000000
max        61.000000
Name: Tenure, dtype: float64


PreferredLoginDevice
 count    5630.000000
mean        0.290231
std         0.453909
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: PreferredLoginDevice, dtype: float64


CityTier
 count    5630.000000
mean        1.654707
std         0.915389
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max         3.000000
Name: CityTier, dtype: float64


WarehouseToHome
 count    5630.000000
mean       15.566785
std         8.345961
min         5.000000
25%         9.000000
50%        14.000000
75%        20.000000
max       127.000000
Name: WarehouseToHome, dtype: float64


PreferredPaymentMode
 count           5630
unique             5
top       Debit Card
freq            2314
Name: PreferredPaymentMode, dtype: object


Gender
 count    5630.000000
mean        0.398934
std         0.489723
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: Gender, dtype: float64


HourSpendOnApp
 count    5630.000000
mean        2.934636
std         0.705528
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         5.000000
Name: HourSpendOnApp, dtype: float64


NumberOfDeviceRegistered
 count    5630.000000
mean        3.688988
std         1.023999
min         1.000000
25%         3.000000
50%         4.000000
75%         4.000000
max         6.000000
Name: NumberOfDeviceRegistered, dtype: float64


PreferedOrderCat
 count              5630
unique                5
top       Mobile Device
freq               2080
Name: PreferedOrderCat, dtype: object


SatisfactionScore
 count    5630.000000
mean        3.066785
std         1.380194
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: SatisfactionScore, dtype: float64


MaritalStatus
 count        5630
unique          3
top       Married
freq         2986
Name: MaritalStatus, dtype: object


NumberOfAddress
 count    5630.000000
mean        4.214032
std         2.583586
min         1.000000
25%         2.000000
50%         3.000000
75%         6.000000
max        22.000000
Name: NumberOfAddress, dtype: float64


Complain
 count    5630.000000
mean        0.284902
std         0.451408
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: Complain, dtype: float64


OrderAmountHikeFromlastYear
 count    5630.000000
mean       15.674600
std         3.591058
min        11.000000
25%        13.000000
50%        15.000000
75%        18.000000
max        26.000000
Name: OrderAmountHikeFromlastYear, dtype: float64


CouponUsed
 count    5630.000000
mean        1.716874
std         1.857640
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        16.000000
Name: CouponUsed, dtype: float64


OrderCount
 count    5630.000000
mean        2.961812
std         2.879248
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        16.000000
Name: OrderCount, dtype: float64


DaySinceLastOrder
 count    5630.000000
mean        4.459325
std         3.570626
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        46.000000
Name: DaySinceLastOrder, dtype: float64


CashbackAmount
 count    5630.000000
mean      177.223030
std        49.207036
min         0.000000
25%       145.770000
50%       163.280000
75%       196.392500
max       324.990000
Name: CashbackAmount, dtype: float64


OrderCat_Fashion
 count      5630
unique        2
top       False
freq       4804
Name: OrderCat_Fashion, dtype: object


OrderCat_Grocery
 count      5630
unique        2
top       False
freq       5220
Name: OrderCat_Grocery, dtype: object


OrderCat_Laptop & Accessory
 count      5630
unique        2
top       False
freq       3580
Name: OrderCat_Laptop & Accessory, dtype: object


OrderCat_Mobile Device
 count      5630
unique        2
top       False
freq       3550
Name: OrderCat_Mobile Device, dtype: object


OrderCat_Others
 count      5630
unique        2
top       False
freq       5366
Name: OrderCat_Others, dtype: object


PaymentMode_Cash on Delivery
 count      5630
unique        2
top       False
freq       5116
Name: PaymentMode_Cash on Delivery, dtype: object


PaymentMode_Credit Card
 count      5630
unique        2
top       False
freq       3856
Name: PaymentMode_Credit Card, dtype: object


PaymentMode_Debit Card
 count      5630
unique        2
top       False
freq       3316
Name: PaymentMode_Debit Card, dtype: object


PaymentMode_E wallet
 count      5630
unique        2
top       False
freq       5016
Name: PaymentMode_E wallet, dtype: object


PaymentMode_UPI
 count      5630
unique        2
top       False
freq       5216
Name: PaymentMode_UPI, dtype: object


MartialStatus_Divorced
 count      5630
unique        2
top       False
freq       4782
Name: MartialStatus_Divorced, dtype: object


MartialStatus_Married
 count     5630
unique       2
top       True
freq      2986
Name: MartialStatus_Married, dtype: object


MartialStatus_Single
 count      5630
unique        2
top       False
freq       3834
Name: MartialStatus_Single, dtype: object